[Unit]
Description=IPFS
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs daemon --migrate
Restart=always
User=ubuntu
Group=ubuntu
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target