[Unit]
Description=Pastel OpenAPI back-end server
After=network.target

[Service]
Restart=always
Restart=on-failure
RestartSec=10
Environment=PYTHONPATH=/home/ubuntu/openapi/backend/app
WorkingDirectory=/home/ubuntu/openapi/backend/app/app
ExecStart=/home/ubuntu/.local/bin/poetry run uvicorn main:app --host 0.0.0.0 --port {{ api_internal_port }}
User=ubuntu
Group=ubuntu
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target