[Unit]
Description=Pastel OpenAPI back-end server
After=network.target

[Service]
Restart=always
Restart=on-failure
RestartSec=10
Environment=PYTHONPATH=/home/ubuntu/openapi/backend/app
WorkingDirectory=/home/ubuntu/openapi/backend/app/app
ExecStart=/home/ubuntu/.local/bin/poetry run celery -A app.main.celery beat -l debug
User=ubuntu
Group=ubuntu
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target